In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
# Create connection string using credentials following this format

In [2]:
import json
with open('/Users/miran/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

## Part 1

In [4]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/data"

In [5]:
engine = create_engine(connection)

In [6]:
create_database(connection)

In [7]:
database_exists(connection)

True

In [8]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [3]:
import pandas as pd
erd = pd.read_csv('Data/data (1).csv')
erd.head()

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen

In [10]:
erd.to_sql('data', engine, if_exists = 'replace')

7

<img src='Data/Book ERD 2.png'>

In [11]:
# connection = "dialect+driver://username:password@host:port/database"

connection_str = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Book"

In [12]:
engine = create_engine(connection_str)

In [13]:
# database already exist
create_database(connection_str)

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'book'; database exists")
[SQL: CREATE DATABASE `Book` CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/14/f405)

In [22]:
database_exists(connection_str)

True

In [23]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

## Part 2

In [24]:
df = pd.read_csv('Data/users.csv')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [25]:
df.to_sql('users', engine, if_exists = 'replace')

3

In [26]:
df1 = pd.read_csv('Data/books.csv')
df1.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [27]:
df1.to_sql('books', engine, if_exists = 'replace')

6

In [28]:
df2 = pd.read_csv('Data/authors.csv')
df2.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [29]:
df2.to_sql('authors', engine, if_exists = 'replace')

5

In [30]:
df3 = pd.read_csv('Data/favorites.csv')
df3.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [31]:
df3.to_sql('favorites', engine, if_exists = 'replace')

7

In [32]:
q= """SHOW TABLES;"""
pd.read_sql(q,engine)

  Tables_in_book
0        authors
1          books
2      favorites
3          users

In [33]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id =
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" 
    AND users.first_name = "John"));"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1